* {margin: 0; padding: 0; box-sizing: border-box;}
:root {
    --primary-color: lightblue;
}
html, body {
    font-family: sans-serif;
}
#container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}
header {
    width: 900px;
    height: 80px;
    background-color: var(--primary-color);
    
}
header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
header ul li {
    display: inline-block;
    font-weight: bold;
    color: white;
    padding: 30px;
}
header ul li:hover {
    color: black;
    background-color: green;
    cursor: pointer;
}
.sub-menu {
    pointer-events: none; /*new today*/
    width: 900px;
    height: 280px;
    background-color: lightgreen;
    position: absolute;
    left: 0;
    top: 80px;
    opacity: 1;
    /* display: none; */
    opacity: 0;
    z-index: 0;

    transition: all 0.1s ease-in-out;
}

header ul li:hover > .sub-menu { /*new today - following selector */
    display: block;
    opacity: 1;
    z-index: 99;
    pointer-events: all;
}